#Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.bak

#Runtime
.pids/
logs/
*.pid
*.log
tmp/
temp/

#Builds
build/
dist/
out/
.next/
.cache/

#Env
.env
.env.*
!.env.example

#OS
.DS_Store
Thumbs.db

#IDE
.vscode/
.idea/

#Coverage
coverage/

#Misc
uploads/
*.zip
*.tar.gz