<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AdminRedirect" stopProcessing="true">
          <match url="^admin/?$" />
          <action type="Redirect" url="/booking/admin/login" redirectType="Permanent" />
        </rule>
        <rule name="BookingAdminRedirect" stopProcessing="true">
          <match url="^booking/admin/?$" />
          <action type="Redirect" url="/booking/admin/login" redirectType="Permanent" />
        </rule>

        <!-- SPA fallbacks -->
        <rule name="BookingSPA" stopProcessing="true">
          <match url="^booking/.*$" />
          <action type="Rewrite" url="/booking/index.html" />
        </rule>
        <rule name="SiteSPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
